<mat-drawer-container class="mat-sidenav-fixed" autosize>
  <mat-drawer mode="side" opened>
    <!-- SideNav Header -->
    <div class="navBg"></div>
    <div class="sideNavHeader">
      <img
        src="https://imagizer.imageshack.com/img921/3072/rqkhIb.jpg"
        alt=""
      />
      <div class="userInfo">
        <h3>Shiba Inu</h3>
        <small>Inu Ltd.</small>
      </div>
    </div>

    <sidenav-menu></sidenav-menu>
  </mat-drawer>
  <mat-drawer-content>
    <portal-clients></portal-clients>
  </mat-drawer-content>
</mat-drawer-container>
