.contactInfo {
  display: flex;
  flex-direction: column;
  .tabHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    h3 {
      font-size: 24px;
    }
    button {
      padding: 0;
    }
  }
  .highlights {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    line-height: 2;
    mat-icon {
      font-size: 24px;
      padding-right: 5px;
    }
    span {
      font-size: 16px;
    }
  }
}

form {
  .fieldGroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  mat-form-field {
    width: 98%;
    display: block;
    margin: 0 auto;
    mat-label {
      margin-left: 10px;
    }
    input {
      margin-left: 10px;
    }
  }
  button {
    margin: 0 10px;
  }
}
