<!-- SideNav Menu -->
<div class="sideNavMenu">
  <!-- Dashboard-->
  <ul>
    <li>
      <a routerLink="/dashboard"> <mat-icon>speed</mat-icon>Dashboard </a>
    </li>
  </ul>

  <mat-divider></mat-divider>

  <!-- Projects -->
  <mat-expansion-panel class="sideMenu">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>workspaces</mat-icon>Projects
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ul class="sideNavContent">
      <li><a>Create new Project</a></li>
      <li><a>Manage Projects</a></li>
      <li><a>Deleted Projects</a></li>
    </ul>
  </mat-expansion-panel>

  <mat-divider></mat-divider>

  <!-- Files -->
  <mat-expansion-panel class="sideMenu">
    <mat-expansion-panel-header>
      <mat-panel-title> <mat-icon>perm_media</mat-icon>Files </mat-panel-title>
    </mat-expansion-panel-header>
    <ul class="sideNavContent">
      <li><a>Upload Files</a></li>
      <li><a>Downlaod Files</a></li>
      <li><a>Manage Files</a></li>
      <li><a>Deleted Files</a></li>
      <li><a>Categories</a></li>
    </ul>
  </mat-expansion-panel>

  <mat-divider></mat-divider>

  <!-- Clients -->
  <mat-expansion-panel class="sideMenu">
    <mat-expansion-panel-header>
      <mat-panel-title> <mat-icon>groups</mat-icon>Clients </mat-panel-title>
    </mat-expansion-panel-header>
    <ul class="sideNavContent">
      <li><a routerLink="/add">Add Client</a></li>
      <li><a routerLink="/clients">Manage Clients</a></li>
    </ul>
  </mat-expansion-panel>

  <mat-divider></mat-divider>

  <!-- System Users -->
  <mat-expansion-panel class="sideMenu">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>engineering</mat-icon>System Users
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ul class="sideNavContent">
      <li><a>Add User</a></li>
      <li><a>Manage Users</a></li>
    </ul>
  </mat-expansion-panel>

  <mat-divider></mat-divider>

  <!-- Payment & Invoices -->
  <mat-expansion-panel class="sideMenu">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>receipt_long</mat-icon>Payment & Invoices
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ul class="sideNavContent">
      <li><a>Payments</a></li>
      <li><a>Invoices</a></li>
    </ul>
  </mat-expansion-panel>

  <mat-divider></mat-divider>

  <!-- Email Templates -->
  <mat-expansion-panel class="sideMenu">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>attach_email</mat-icon>Email Templates
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ul class="sideNavContent">
      <li><a>Header and Footer</a></li>
      <li><a>New Client (Welcome)</a></li>
      <li><a>File Uploaded by Client</a></li>
      <li><a>Files Assigned to Client</a></li>
      <li><a>New User (Welcome)</a></li>
      <li><a>File Uploaded by User</a></li>
      <li><a>Files Assigned to User</a></li>
    </ul>
  </mat-expansion-panel>

  <mat-divider></mat-divider>

  <!-- Options / Settings -->
  <mat-expansion-panel class="sideMenu">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>settings_suggest</mat-icon>Options
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ul class="sideNavContent">
      <li><a>General</a></li>
      <li><a>Clients</a></li>
      <li><a>Privacy</a></li>
      <li><a>Email Notifications</a></li>
      <li><a>Security</a></li>
      <li><a>Thumbnails</a></li>
      <li><a>Branding</a></li>
    </ul>
  </mat-expansion-panel>

  <mat-divider></mat-divider>

  <ul>
    <li>
      <a href=""> <mat-icon>manage_accounts</mat-icon>Settings </a>
    </li>
  </ul>
</div>

<!-- SideNav Footer -->
<div class="sideNavFooter">
  <a>Privacy</a>
  <a>Terms of Use</a>
</div>
