<div class="authSection" *ngIf="!active">
  <h2>Forgot Password</h2>
  <p>Wanna make guesses? <a routerLink="/login">Log In</a></p>

  <form [formGroup]="forgotForm" (ngSubmit)="forgotPassword()">
    <!-- Email Form Field -->
    <mat-form-field appearance="fill">
      <mat-label>Email address</mat-label>
      <mat-icon matPrefix class="matPrefix">mail</mat-icon>
      <input
        type="email"
        matInput
        placeholder="example@example.com"
        formControlName="email"
      />
      <mat-icon
        matSuffix
        class="matSuffix"
        *ngIf="
          (forgotForm.controls['email'].valid && !emailExists && !activated) ||
          (forgotForm.controls['email'].untouched &&
            forgotForm.controls['email'].pristine)
        "
      >
        alternate_email
      </mat-icon>
      <div
        class="validationAlert"
        matSuffix
        *ngIf="
          (forgotForm.controls['email'].touched ||
            forgotForm.controls['email'].dirty) &&
          forgotForm.controls['email'].invalid &&
          !emailExists
        "
      >
        <mat-icon class="matInputAlert">error</mat-icon>
        <span>Enter Email Address</span>
        <span *ngIf="forgotForm.controls['email'].errors?.pattern">
          Invalid Email Address
        </span>
      </div>

      <div
        class="validationAlert"
        matSuffix
        *ngIf="forgotForm.controls['email'].dirty && emailExists"
      >
        <mat-icon class="matInputAlert">error</mat-icon>
        <span>{{ emailExists?.message }}</span>
      </div>
      <div
        class="validationAlert"
        matSuffix
        *ngIf="forgotForm.controls['email'].valid && activated"
      >
        <mat-icon class="matInputAlert">error</mat-icon>
        <span>{{ activated?.message }}</span>
      </div>
    </mat-form-field>

    <!-- Activate Account -->
    <a routerLink="/resend">Account not activated?</a>

    <!-- Sign Up Button -->
    <button
      type="submit"
      mat-stroked-button
      color="primary"
      [disabled]="forgotForm.invalid"
      *ngIf="!loading"
    >
      Forgot Password
    </button>
    <button type="submit" mat-button color="primary" *ngIf="loading">
      <mat-icon><mat-spinner diameter="20"></mat-spinner></mat-icon> Sending
      Reset Link
    </button>
  </form>

  <small>
    * By using this portal, you agree to our <a href="">Terms of Use</a> and
    acknowledge that you read our <a href="">Privacy Policy</a>. Protected by
    Google reCAPTCHA.
  </small>
</div>

<div class="resultSection" *ngIf="active">
  <img
    src="https://image.freepik.com/free-vector/mail-sent-concept-illustration_114360-168.jpg"
    alt="Activate Your Account"
  />
  <h4>Password Reset Email Sent</h4>
  <p>{{ active?.message }}</p>
  <h5>
    If you didn't receive the password reset email, consider checking in the
    Spam/Junk folder and mark it as Not Junk.
  </h5>
  <button mat-raised-button color="primary" routerLink="/login">
    Login to continue
  </button>
</div>
