<mat-toolbar>
  <!-- Logo -->
  <div class="toolBarLogo">
    <a>
      <img src="https://image.flaticon.com/icons/png/512/831/831378.png" />
    </a>
  </div>

  <span class="toolBarSpacer"></span>

  <!-- Search -->
  <div class="toolBarSearch">
    <form class="searchBar">
      <input placeholder="Search..." />
      <button mat-button><mat-icon>search</mat-icon></button>
    </form>
  </div>

  <div class="toolBarItems">
    <toolbar-notifications></toolbar-notifications>
    <toolbar-account-menu></toolbar-account-menu>
  </div>
</mat-toolbar>
