<div class="container-fluid">
  <div class="col-3">
    <div class="statsCard">
      <div class="statsCardBody">
        <mat-icon color="primary">download</mat-icon>
        <div class="stats">
          <small>Downloads</small>
          <h2>6985</h2>
        </div>
      </div>
      <div class="statsCardFooter">
        <mat-divider></mat-divider>
        <button mat-icon-button><mat-icon>update</mat-icon></button>Updated 3
        minutes ago
      </div>
    </div>
  </div>

  <div class="col-3">
    <div class="statsCard">
      <div class="statsCardBody">
        <mat-icon color="accent">upload</mat-icon>
        <div class="stats">
          <small>Uploads</small>
          <h2>9856</h2>
        </div>
      </div>
      <div class="statsCardFooter">
        <mat-divider></mat-divider>
        <button mat-icon-button><mat-icon>update</mat-icon></button>Updated 3
        minutes ago
      </div>
    </div>
  </div>

  <div class="col-3">
    <div class="statsCard">
      <div class="statsCardBody">
        <mat-icon color="primary">notifications</mat-icon>
        <div class="stats">
          <small>Notifications</small>
          <h2>3</h2>
        </div>
      </div>
      <div class="statsCardFooter">
        <mat-divider></mat-divider>
        <button mat-icon-button><mat-icon>update</mat-icon></button>Updated 3
        minutes ago
      </div>
    </div>
  </div>

  <div class="col-3">
    <div class="statsCard">
      <div class="statsCardBody">
        <mat-icon color="accent">messages</mat-icon>
        <div class="stats">
          <small>Messages</small>
          <h2>2</h2>
        </div>
      </div>
      <div class="statsCardFooter">
        <mat-divider></mat-divider>
        <button mat-icon-button><mat-icon>update</mat-icon></button>Updated 3
        minutes ago
      </div>
    </div>
  </div>
</div>
