<div class="authSection" *ngIf="!active">
  <h2>Resend Activation Link</h2>
  <p>Don't have an account? <a routerLink="/signup">Sign Up</a></p>

  <form [formGroup]="resendForm" (ngSubmit)="resendLink()">
    <!-- Email Form Field -->
    <mat-form-field appearance="fill">
      <mat-label>Email address</mat-label>
      <mat-icon matPrefix class="matPrefix">mail</mat-icon>
      <input
        type="email"
        matInput
        placeholder="example@example.com"
        formControlName="email"
      />
      <mat-icon
        matSuffix
        class="matSuffix"
        *ngIf="
          (resendForm.controls['email'].valid && !emailExists && !activated) ||
          (resendForm.controls['email'].untouched &&
            resendForm.controls['email'].pristine)
        "
      >
        alternate_email
      </mat-icon>
      <div
        class="validationAlert"
        matSuffix
        *ngIf="
          (resendForm.controls['email'].touched ||
            resendForm.controls['email'].dirty) &&
          resendForm.controls['email'].invalid &&
          !emailExists
        "
      >
        <mat-icon class="matInputAlert">error</mat-icon>
        <span>Enter Email Address</span>
        <span *ngIf="resendForm.controls['email'].errors?.pattern">
          Invalid Email Address
        </span>
      </div>

      <div
        class="validationAlert"
        matSuffix
        *ngIf="resendForm.controls['email'].dirty && emailExists"
      >
        <mat-icon class="matInputAlert">error</mat-icon>
        <span>{{ emailExists?.message }}</span>
      </div>
      <div
        class="validationAlert"
        matSuffix
        *ngIf="resendForm.controls['email'].valid && activated"
      >
        <mat-icon class="matInputAlert">error</mat-icon>
        <span>{{ activated?.message }}</span>
      </div>
    </mat-form-field>

    <!-- Already activated -->
    <a routerLink="/login">Already Activated?</a>

    <!-- Sign Up Button -->
    <button
      type="submit"
      mat-stroked-button
      color="primary"
      [disabled]="resendForm.invalid"
      *ngIf="!loading"
    >
      Send Activation Email
    </button>
    <button type="submit" mat-button color="primary" *ngIf="loading">
      <mat-icon><mat-spinner diameter="20"></mat-spinner></mat-icon> Sending
      Activation Link
    </button>
  </form>

  <small>
    * By using this portal, you agree to our <a href="">Terms of Use</a> and
    acknowledge that you read our <a href="">Privacy Policy</a>. Protected by
    Google reCAPTCHA.
  </small>
</div>

<div class="resultSection" *ngIf="active">
  <img
    src="https://image.freepik.com/free-vector/mail-sent-concept-illustration_114360-168.jpg"
    alt="Activate Your Account"
  />
  <h4>Activation Email Sent</h4>
  <p>{{ active?.message }}</p>
  <h5>
    If you didn't receive the activation email, consider checking in the
    Spam/Junk folder and mark it as Not Junk.
  </h5>
  <h5>Trouble accessing your emails?</h5>
  <button mat-raised-button color="primary" routerLink="/signup">
    Create new account
  </button>
</div>
